<!doctype html>
<html lang="en">
<head>
<meta  charset="UTF-8">
</head>
<body>
<div>
<%=error%>
</div><br>
<button type="button" onclick="re()">return Login</button>
<script>
alert("No search item");
</script>
<script src="/test"></script>
</body>
</html>