<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
</head>
<body>
<label>訂單編號:</label><span><%= value %></span><br><br>
<div><%= result_1 %></div><br><br>
<button type="button" onclick="re()">return Login</button>
<script src="/test"></script>
</body>
</html>