<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<style>
    button{
        border-radius: 50px;
        background-image:linear-gradient(#ccc, rgb(0, 195, 255), rgb(0, 255, 242));
    }

    button:hover{
    border:1px solid #f00;
    background-image:linear-gradient(#ccc, rgba(255, 153, 0, 0.336), rgb(145, 255, 0));
}
</style>
</head>
<body>
<label>訂單編號:</label><span><%= value %></span><br><br>
<div><%= result_1 %></div><br><br>
<button type="button" onclick="re()">return Login</button>
<script src="/test"></script>
</body>
</html>